<div class="list-group-item">
	<h2>{{ schedule.name }}</h2>
			
	<div>
	{{ schedule.description  }}
	</div>
	<hr />
			
	<p><a href="{{ Route('page.excludes', {'id': schedule.id}) }}"><b>Exclusions</b></a>: {{ schedule.excludes().count()  }}</p>

	<p><b><a href="{{ Route('page.activities', {'id':schedule.id}) }}">Activities</a></b>: {{ schedule.activities().count() }}</p>
	<p><b>Updated at</b>: {{ schedule.updated_at|date('Y-m-d H:i:s') }}</p>

	<div class="schedule-actions">
		<hr />
		<div class="btn-group">
			<a href="{{ Route('page.addExcludes', {'id': schedule.id}) }}" class="btn btn-success">
					<i class="fa fa-exclamation-circle"></i> Add Exclusion
			</a>
			<a href="{{ Route('page.addActivities', {'id': schedule.id})  }}" class="btn btn-success">
					<i class="fa fa-plus-square"></i> Add Activity
			</a>
			<a href="{{ Route('page.editSchedule', {'id': schedule.id})  }}" class="btn btn-default">
					<i class="fa fa-pencil"></i> Edit
			</a>
			{% if schedule.generate is not iterable %}
			<a class="btn btn-warning" href="{{ Route('generate', {'id': schedule.id}) }}">
			 	<i class="fa fa-check"></i> Generate
			</a>
			{% endif %}
			<a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Make Active</a>
			<a href="{{ App('URL', 'route', ['page.deleteSchedule', {'id' : schedule.id}]) }}" class="btn btn-danger">
					<i class="fa fa-trash-o"></i> Delete
			</a>
		</div>
	</div>
</div>
