<div class="list-group-item">
	<h2>{{ schedule.name }}</h2>
			
	<div>
	{{ schedule.description  }}
	</div>
	<hr />
			
	<p><a href="{{ Route('page.excludes', {'id': schedule.id}) }}"><b>Exclusions</b></a>: {{ schedule.excludes().count()  }}</p>

	<p><b><a href="{{ Route('page.activities', {'id':schedule.id}) }}">Activities</a></b>: {{ schedule.activities().count() }}</p>
	<p><b>Updated at</b>: {{ schedule.updated_at|date('Y-m-d H:i:s') }}</p>

	<div class="schedule-actions">
		<hr />
		<div class="action-group">
			<a href="{{ Route('page.addExcludes', {'id': schedule.id}) }}" title="Add exclusions">
					<i class="fa fa-exclamation-circle"></i>
			</a>
			<a href="{{ Route('page.addActivities', {'id': schedule.id})  }}" title="Add Activities">
					<i class="fa fa-plus-square"></i>
			</a>
			<a href="{{ Route('page.editSchedule', {'id': schedule.id})  }}" title="Edit Schedule">
					<i class="fa fa-pencil"></i>
			</a>
			{% if schedule.generated is empty %}
			<a title="Generate Schedule" href="{{ Route('generate', {'id': schedule.id}) }}">
			 	<i class="fa fa-refresh"></i>
			</a>
			{% else %}
			<a title="View Schedule" href="{{ Route('page.schedule', {'id': schedule.id}) }}">
				<i class="fa fa-eye"></i>
			</a>
			{% endif %}
			<a href="#" title="Make this schedule Active"><i class="fa fa-check"></i></a>
			<a href="{{ App('URL', 'route', ['page.deleteSchedule', {'id' : schedule.id}]) }}" title="Delete Schedule">
					<i class="fa fa-trash-o"></i>
			</a>
		</div>
	</div>
</div>
