{% extends "/templates/default.html" %}

{% block content %}

{% import "components/components.html" as component %}
<div class="row">

	<div class="col-md-3">
		{% if(schedules > 0) %}
			{% set content = 'You currently have ' ~ schedules ~' available to use' %}
		{% else %}
			{% set content = 'You dont have any schedules, go make one!' %}
		{% endif %}

		{{ component.linkBox('Schedules available', 'fa-calendar', content, App('URL', 'route', ['page.schedules']), 'blue') }}
	</div>

	<div class="col-md-3">
		{{ component.linkBox('Create a new Schedule', 'fa-pencil', 'Create a new schedule and keep track of your progress', App('URL', 'route', ['page.newSchedule']), 'yellow')  }}
	</div>

	<div class="col-md-6">
		{{ component.linkBox('Active Schedule', 'fa-check-circle', 'You havent set an active schedule yet, making a schedule active will tell you what you should be doing currently.', '') }}
	</div>

</div>

<div class="row">

	<div class="col-md-12">
		<hr />
	</div>
		
	<div class="col-md-3">
		{{ component.linkBox('Need Help?', 'fa-question-circle', 'The docs will show you what you need to do to install this properly and get the most out of it', App('URL', 'route', ['page.docs']), 'red')  }}
	</div>

	<div class="col-md-6">
		{{ component.linkBox('Like this tool? Contribute!', 'fa-git', 'Take a trip to our git repo and help make this tool better for everyone', '#', 'black')  }}
	</div>
	
	
	<div class="col-md-3">
		{{ component.linkBox('What we use', 'fa-group', 'A list of external components and tools that we use and contributor list', '#', 'green')  }}
	</div>



</div>
{% endblock %}
