{% extends "/templates/default.html" %}

{% block content %}

{% import "components/components.html" as component %}
<div class="row">

	<div class="col-md-6">
		{% if(schedules > 0) %}
			{% set content = 'You currently have ' ~ schedules ~' available to use' %}
		{% else %}
			{% set content = 'You dont have any schedules, go make one!' %}
		{% endif %}

		{{ component.linkBox('Schedules available', 'fa-calendar', content, Route('page.schedules'), 'blue') }}
	</div>

	<div class="col-md-3">
		{{ component.linkBox('Create a new Schedule', 'fa-pencil', 'Create a new schedule and keep track of your progress', Route('page.newSchedule'), 'yellow')  }}
	</div>


</div>

<div class="row">

	<div class="col-md-12">
		<hr />
	</div>
		
	<div class="col-md-3">
		{{ component.linkBox('Need Help?', 'fa-question-circle', 'The docs will show you what you need to do to install this properly and get the most out of it', Route('page.docs'), 'red')  }}
	</div>

	<div class="col-md-6">
			{{ component.linkBox('Like this tool? Contribute!', 'fa-git', 'Take a trip to our git repo and help make this tool better for everyone', Route('page.docPage', {'page':'contribute'}), 'black')  }}
	</div>
	
	
	<div class="col-md-3">
			{{ component.linkBox('What we use', 'fa-group', 'A list of external components and tools that we use and contributor list', Route('page.contributors'), 'green')  }}
	</div>



</div>
{% endblock %}
