{% extends "templates/default.html"  %}

{% block pagetitle %}Create Schedule{% endblock %}

{% block content %}

{% import "components/components.html" as component %}

	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">New Schedule</h3>		
			</div>
			<div class="panel-body">
				{% include "forms/newSchedule.html"  %}	
			</div>
		</div>
	</div>

	<div class="col-md-4">
	 	
		{{ component.sideBarLinkBox('Schedules', 'fa-calendar', 'Find all the schedules you have made.', Route('page.schedules'), 'green')  }}
		
		{{ component.sideBarLinkBox('Need Help?', 'fa-question-circle', 'Read the docs, you can find guides and information on how to make the most out of this tool', Route('page.docs'), 'red')  }}

	</div>

{% endblock %}
